registry=https://registry.npmmirror.com
# ELECTRON_MIRROR=https://registry.npmmirror.com/-/binary/electron/
# electron-builder-binaries_MIRROR=https://registry.npmmirror.com/-/binary/electron-builder-binaries/

electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
